<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qh.basic.mapper.ScScheduleMapper">
    
    <resultMap type="ScSchedule" id="ScScheduleResult">
        <result property="scheduleId"    column="schedule_id"    />
        <result property="scheduleName"    column="schedule_name"    />
        <result property="publisherId"    column="publisher_id"    />
        <result property="publisherName"    column="publisher_name"    />
        <result property="day1"    column="day1"    />
        <result property="day2"    column="day2"    />
        <result property="day3"    column="day3"    />
        <result property="day4"    column="day4"    />
        <result property="day5"    column="day5"    />
        <result property="day6"    column="day6"    />
        <result property="day7"    column="day7"    />
        <result property="createDate"    column="create_date"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="stateMark"    column="state_mark"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>


</mapper>